<p id="notice"><%= notice %></p>

<%=button_to "Signout", destroy_user_session_path, method: :delete %>
      

<h1 style="text-align:center;color:green;">Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Description</th>
      <th>Age</th>
      <th>Address</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.age %></td>
        <td><%= post.address %></td>
        <td><%= image_tag post.image ,:size => '160x100'%></td>
        <td>
            <p>
                <%like=current_user.likes.find_by(post: post)%>
                <form action="/likes" method="post">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <input type="hidden" name="like[post_id]" value="<%=post.id%>">
                <p><%= post.likes.count %>Likes</p>  <input type="submit" value="likes">
                </form>
                  
            </p>
        </td>
        <td><%= link_to 'Show', post %></td>
        <% if current_user.id == post.user_id %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>  
          <%end%>
        <% if current_user.id == post.user_id %>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        </tr>
    <% end %>
        
      
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %><br><br>

